.buttonHamburger {
  width: 10vh;
  height: 10vh;
  background-color: $background-color-1;
  background-image: url(../images/ico-menu.svg);
  position: fixed;
  right: 0px;
  z-index: 20;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  display: flex;
  flex-grow: 1;
}
