.fontPreTitle{
  color: $font-color-1;
  font-size: $font-size-xl;
  font-family: $font-family-1;
  font-weight: $font-weight-medium;
  margin: 0;
}
.fontTitle {
  color: $font-color-6;
  font-size: $font-size-gig;
  font-family: $font-family-1;
  font-weight: $font-weight-medium;
}

.fontItemMenu {
  color: $font-color-1;
  font-size: $font-size-big;
  font-family: $font-family-1;
  font-weight: $font-weight-regular;
  transition: color ease .5s;
  &:hover {
    color: $font-color-6;
  }
}
.fontTitleSkill{
  font-size: $font-size-xl;
  font-family: $font-family-3;
  font-weight: $font-weight-bold;
  margin: 0;
}
.fontListSkills{
  color: $font-color-4;
  font-size: $font-size-med;
  font-family: $font-family-1;
  font-weight: $font-weight-regular;
}

.fontText{
  color: $font-color-3;
  font-size: $font-size-big;
  font-family: $font-family-1;
  font-weight: $font-weight-regular;
}

.fontTextHighlight{
  color: $font-color-1;
  font-size: $font-size-big;
  font-family: $font-family-2;
  font-weight: $font-weight-bold;
}

.paragraphTitle {
  color: $font-color-1;
  font-size: $font-size-gig;
  font-family: $font-family-3;
  font-weight: $font-weight-medium;
  text-align: center;
}

.footerLink{
  color: $font-color-6;
  font-size: $font-size-med;
  font-family: $font-family-1;
  font-weight: $font-weight-regular;
}
