$font-color-1:#C61F3E;
$font-color-2:#ffa500;
$font-color-3:#31302B;
$font-color-4:#fff;

$font-family-1: 'M PLUS Rounded 1c', sans-serif;
$font-family-2: 'Open Sans', serif;
$font-family-3: 'Varela Round', sans-serif;

$font-size-minim: 14px;
$font-size-peq: 16px;
$font-size-med: 18px;
$font-size-big: 20px;
$font-size-xl: 24px;
$font-size-gig:42px;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

$color-boton-1: #fff;
$color-boton-2: #C61F3E;
$color-boton-3: #ffa500;

$background-color-1: #C61F3E;
$background-color-2:#ffa500;
$background-color-3: #fff;
$background-color-4:#31302B;
$background-color-5: #EBEEED;

//Fuentes tablet & mobile

$font-size-minim-tab: 14px;
$font-size-peq-tab: 16px;
$font-size-med-tab: 18px;
$font-size-big-tab: 20px;
$font-size-xl-tab: 24px;
$font-size-xxl-tab: 26px;
$font-size-gig-tab:36px;

//Fuentes desktop

$font-size-minim-desk: 14px;
$font-size-peq-desk: 16px;
$font-size-med-desk: 20px;
$font-size-big-desk: 24px;
$font-size-xl-desk: 30px;
$font-size-xxl-desk: 32px;
$font-size-gig-desk:100px;
