.containerFooter {
  position: relative;
  background-color: $background-color-1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.containerNetworks{
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.iconNW{
  border: 2px solid $color-boton-1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0px 10px;
  padding: 10px;
  color: $color-boton-1;
  transition: background-color, color ease .2s;
    &:hover{
        background-color: $color-boton-1;
        color: $color-boton-2;
    }
}

.containerLinks{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 0;
  width: 100%;
}

.linkWeb{
  text-decoration: none;
  margin: 5%;
  white-space:nowrap; 
  transition: color ease .2s;
  &:hover{
      color: $font-color-2;
  }
  @media all and (min-width: 768px) {
    margin: 15%;
  }
}