.containerPresentation{
    padding: 10% 15% 0% 15%;
    width: 100vw;
    text-align: justify;
    @media all and (min-width: 768px) {
        padding: 50px 15% 0px;
    }
  
    @media all and (min-width: 1280px) {
        padding: 50px 25% 0px;
    }
}