.anchor{
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}
.containerSectionProjects{
    // height: 100vh;
    padding: 10%;
}
.containerProjects{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    // padding: 40px;
}

.imageProject{
    // margin: 20px;
    margin: 5% 10%;
    width: 100%;
}
.imageWeb{
    border-radius: 5%;
    width: 100%;
    height: 100%; 
    
}
