.containerProjects{
    background-color:$background-color-5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    padding: 40px;
}

.imageProject{

    margin: 20px;
}
.imageWeb{
    border-radius: 5%;
    width: 350px;
    height: 200px; 
}
