.generalSkillsList{
    position: relative;
    top: -25vh;
    background-color: $background-color-3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 10% 0%;
    padding: 0;
    @media all and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0fr 0fr;
        margin-bottom: 0;
    }
  
    @media all and (min-width: 1280px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0fr 0fr;
    }
}

.itemListGeneralSkills{
    border: 2px solid $background-color-5;
    list-style: none;
    padding: 10% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: $background-color-5;
    width: 40vw;
}
.hiddeBox{
    display: none;
}
.showBox1{
    margin: 0;
    position: relative;
  animation-name: showBox1;
  animation-duration: 1s;
  animation-iteration-count: 1;
   animation-fill-mode: forwards;
}
@keyframes showBox1 {
    from {
        left: -50%;
    }
    to {
        left: 5%;
}
}

.showBox2{
    position: relative;
  animation-name: showBox2;
  animation-duration: 1s;
  animation-iteration-count: 1;
   animation-fill-mode: forwards;
}
@keyframes showBox2 {
    from {
        left: 100%
    }
    to {
        left: 5%;
}
}

.titleGeneralSkill{
    letter-spacing: 1px;
    padding-bottom: 20px;
    font-size: $font-weight-bold;
    text-align: center;
}

.iconContainer{
    border: 5px solid $color-boton-2;
    color: $color-boton-2;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    text-align: center;
    margin-bottom: 20px;
    background-color: $background-color-3;
    transition: background-color, color ease .2s;
    &:hover{
        background-color: $color-boton-2;
        color: $color-boton-1;
    }
    @media all and (min-width: 768px) {
        height: 100px;
        width: 100px;
    }
    @media all and (min-width: 1280px) {
        height: 100px;
        width: 100px;
    }
}

.icon {
    left: 2%;
    top:40%;
    position:relative;
    transform:translate(-50%, -50%);
    transform:scale(2);
}

.skillsList{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: right;
}

.skill{
    list-style: none;
    display: flex;
    align-content: center;
    margin-top: 10px;
}

.checkbox{
    margin-right: 10px;
    background-color: $color-boton-1;
    border: 3px solid $color-boton-2;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    transition: background-color ease .3s;
    &:hover{
        background-color: $color-boton-2;
    }
  }
  @keyframes checkbox-anim {
    from {
        background-color: $color-boton-1;
    }
    to {
        background-color: $color-boton-3;
    }
  }

  .fa-check{
      transform: scale(0.6);
      transform: translate(10%, -15%);
      color: $color-boton-3;
  }

  .skillName{
      margin-top: 5px;
  }