* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%; }

#root {
  width: 100%; }

.headerBackground {
  margin: 0;
  height: 130vh;
  width: 100%;
  background-color: #C61F3E;
  position: relative; }

.menuBar {
  width: 100vw;
  height: 80px; }

.containerMenu {
  position: fixed;
  z-index: 10;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: #ffa500;
  animation-name: menu;
  animation-duration: 1s;
  animation-iteration-count: 1; }

@keyframes menu {
  from {
    opacity: 0;
    width: 0%; }
  to {
    opacity: 1;
    width: 100%; } }

.unactiveInitial {
  display: none; }

.hidden {
  position: fixed;
  z-index: 10;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0%;
  height: 80px;
  background-color: #ffa500;
  animation-name: menu-out;
  animation-duration: 1s;
  animation-iteration-count: 1; }

@keyframes menu-out {
  from {
    opacity: 1;
    width: 100%; }
  to {
    opacity: 0;
    width: 0%; } }

.linkMenu {
  text-decoration: none;
  margin: 10px;
  color: #C61F3E; }

.listMenu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  animation-name: list-in;
  animation-duration: 3s;
  animation-iteration-count: 1; }

@keyframes list-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.hiddenMenu {
  display: none; }

.desktop {
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 15%;
  animation-name: appearDesktop;
  animation-timing-function: ease;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes appearDesktop {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.containerFooter {
  position: relative;
  background-color: #31302B;
  height: 128px;
  display: flex;
  flex-direction: column;
  text-align: center; }

.containerNetworks {
  list-style: none;
  display: flex;
  justify-content: center; }

.iconNW {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0px 10px;
  padding: 10px;
  color: #fff;
  transition: background-color, color ease .2s; }
  .iconNW:hover {
    background-color: #fff;
    color: #C61F3E; }

.containerLinks {
  list-style: none;
  display: flex;
  justify-content: center; }

.linkWeb {
  text-decoration: none;
  margin: 20px;
  transition: color ease .2s; }
  .linkWeb:hover {
    color: #C61F3E; }

.dot {
  color: #fff;
  position: relative;
  bottom: 5px; }

.containerPresentation {
  padding: 100px 600px;
  height: 100vh;
  text-align: justify; }

.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden; }

.containerSectionProjects {
  height: 100vh;
  padding: 20px; }

.containerProjects {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  padding: 40px; }

.imageProject {
  margin: 20px; }

.imageWeb {
  border-radius: 5%;
  width: 350px;
  height: 200px; }

.containerSkills {
  width: 80%;
  margin: auto; }

.generalSkillsList {
  position: relative;
  background-color: white;
  border: 1px solid #EBEEED;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 53px 50px;
  padding: 0; }

.itemListGeneralSkills {
  border: 1px solid #EBEEED;
  list-style: none;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0; }

.titleGeneralSkill {
  letter-spacing: 1px;
  padding-bottom: 20px;
  font-size: 700; }

.iconContainer {
  border: 5px solid #C61F3E;
  color: #C61F3E;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  text-align: center;
  margin-bottom: 20px;
  background-color: #fff;
  transition: background-color, color ease .2s; }
  .iconContainer:hover {
    background-color: #C61F3E;
    color: #fff; }

.icon {
  left: 2%;
  top: 40%;
  position: relative;
  transform: translate(-50%, -50%);
  transform: scale(2); }

.skillsList {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: right; }

.skill {
  list-style: none;
  height: 30px;
  display: flex;
  align-content: center;
  margin-top: 10px; }

.checkbox {
  margin-right: 10px;
  background-color: #fff;
  border: 3px solid #C61F3E;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  transition: background-color ease .3s; }
  .checkbox:hover {
    background-color: #C61F3E; }

@keyframes checkbox-anim {
  from {
    background-color: #fff; }
  to {
    background-color: #ffa500; } }

.fa-check {
  transform: scale(0.6);
  transform: translate(10%, -15%);
  color: #ffa500; }

.skillName {
  margin-top: 5px; }

.buttonHamburger {
  width: 80px;
  height: 80px;
  background-color: #C61F3E;
  background-image: url(../images/ico-menu.svg);
  position: fixed;
  right: 0px;
  z-index: 20;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  display: flex;
  flex-grow: 1; }

.heroTextContainer {
  position: absolute;
  width: 30%;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 0%); }

.preTitleEffect {
  letter-spacing: .15em;
  animation-name: appear;
  animation-timing-function: ease;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes appear {
  from {
    color: #C61F3E; }
  to {
    color: #ffa500; } }

.typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #ffa500;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite; }

/* The typing effect */
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #ffa500; } }

.photoMe {
  height: 250px;
  margin: 30px;
  width: 250px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.fontPreTitle {
  color: #C61F3E;
  font-size: 24px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  margin: 0; }

.fontTitle {
  color: #fff;
  font-size: 42px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500; }

.fontItemMenu {
  color: #C61F3E;
  font-size: 20px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  transition: color ease .5s; }
  .fontItemMenu:hover {
    color: #fff; }

.fontTitleSkill {
  font-size: 24px;
  font-family: "Varela Round", sans-serif;
  font-weight: 700;
  margin: 0; }

.fontListSkills {
  color: #000;
  font-size: 18px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400; }

.fontText {
  color: #31302B;
  font-size: 20px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400; }

.fontTextHighlight {
  color: #C61F3E;
  font-size: 20px;
  font-family: "Open Sans", serif;
  font-weight: 700; }

.paragraphTitle {
  color: #C61F3E;
  font-size: 42px;
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
  text-align: center; }

.footerLink {
  color: #fff;
  font-size: 18px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400; }
